@font-face {
  font-family: '';
  src: url();
  font-display: swap;
}
html {
  scroll-behavior: smooth;
  background-color: gray;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: var(--font);
}
a:visited {
  color: inherit;
}
button {
  cursor: pointer;
  color: var(--font);
}
svg {
  color: var(--font);
}
/* ======================================= */
/* ROOT & BODY & HEADER / FOOTER ======== */
/* ===================================== */
:root {
  --space-base: 4px;

  --font:           
;
}
#root {
  -webkit-tap-highlight-color: transparent;
  text-wrap: pretty;
  font-family:
    system-ui, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji';
  display: flex;
  gap: calc(var(--space-base) * 8);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: gray;
  padding-inline: calc(var(--space-base) * 4);
  border: 1px solid transparent;
}
header {
  display: flex;
  min-width: 100%;
  align-items: center;
  justify-content: space-between;
  justify-self: flex-start;
}
.scores-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--space-base) * 4);
}
.signature {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: calc(var(--space-base) * 1);
  opacity: 0.5;
  & svg {
    width: calc(var(--space-base) * 4);
    height: auto;
  }
}
/* ======================================= */
/* CARDS CONTAINER & CARDS ============== */
/* ===================================== */
.cards-container {
  display: grid;
  gap: calc(var(--space-base) * 4);
  grid-template-columns: repeat(6, 1fr);
}
.card {
  border: 1px solid black;
  aspect-ratio: 2 / 3;
  width: calc(var(--space-base) * 36);
  height: auto;
  border-radius: calc(var(--space-base) * 2);
}
/* ======================================= */
/* HOVER ================================ */
/* ===================================== */
@media (hover: hover) {
}
/* ======================================= */
/* RESPONSIVE-MEDIA-QUERIES ============= */
/* ===================================== */
@media (max-width: 1024px) {
  .cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 300px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}

/* ====================================== */
/* ANIMATIONS ========================== */
/* ==================================== */

@keyframes menu-slide-in {
}

@keyframes menu-slide-out {
}
