@font-face {
  font-family: 'averia';
  src: url(assets/AveriaSerifLibre-Regular.woff2);
  font-display: swap;
}
@font-face {
  font-family: 'pixel';
  src: url(assets/PixelFJ8pt1Normal.woff2);
  font-display: swap;
}
html {
  scroll-behavior: smooth;
  background-color: var(--dark);
}
* {
  margin: 0;
  padding: 0;
  cursor: default;
}
*::selection {
  background-color: transparent;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: var(--font);
}
a:visited {
  color: inherit;
}
button {
  cursor: pointer;
  color: var(--font);
}
svg {
  color: var(--font);
  fill: var(--font);
}
/* ======================================= */
/* ROOT & BODY & HEADER / FOOTER ======== */
/* ===================================== */
:root {
  --space-base: 4px;

  --light: rgb(0, 107, 32);
  --dark: rgb(12, 68, 57);
  --font: hsl(0, 0%, 80%);
}
#root {
  -webkit-tap-highlight-color: transparent;
  text-wrap: pretty;
  font-family:
    'averia', system-ui, 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji';
  display: flex;
  gap: calc(var(--space-base) * 16);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding-inline: calc(var(--space-base) * 4);
  padding-top: calc(var(--space-base) * 2);
  border: 1px solid transparent;
  background: linear-gradient(
    to bottom,
    var(--light) 0%,
    var(--dark) 6rem,
    var(--dark) calc(100% - 2rem),
    var(--light) 100%
  );
  color: var(--font);
}
header {
  display: flex;
  min-width: 100%;
  align-items: center;
  justify-content: space-between;
}
h1 {
  font-size: calc(var(--space-base) * 8);
  font-weight: bold;
}
.scores-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--space-base) * 8);
  & p {
    font-family:
      'pixel', 'averia', system-ui, 'Segoe UI', Helvetica, Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji';
    font-size: calc(var(--space-base) * 6);
    font-weight: bold;
  }
}
.signature {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: calc(var(--space-base) * 1);
  opacity: 0.5;
  margin-bottom: calc(var(--space-base) * 1);
  & svg {
    width: calc(var(--space-base) * 4);
    height: auto;
  }
}
.logo-letters {
  border: 1px solid var(--font);
  font-family: Helvetica;
  background-color: var(--dark);
  display: inline-flex;
  aspect-ratio: 1 / 1;
  width: calc(var(--space-base) * 14);
  height: auto;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, var(--dark), var(--light));
}
.commentary {
  text-align: center;
  font-family:
    'pixel', 'averia', system-ui, 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji';
  max-width: calc(var(--space-base) * 160);
  animation: slide-in 0.6s ease forwards;
}
/* ======================================= */
/* CARDS CONTAINER & CARDS ============== */
/* ===================================== */
.cards-container {
  display: grid;
  gap: calc(var(--space-base) * 8);
  grid-template-columns: repeat(4, 1fr);
}
.card {
  aspect-ratio: 2 / 3;
  width: calc(var(--space-base) * 40);
  height: auto;
  position: relative;
  cursor: pointer;
  border-radius: calc(var(--space-base) * 1);
  animation: slide-in 0.6s ease forwards;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  & img {
    width: 100%;
    height: inherit;
    border-radius: inherit;
    cursor: inherit;
    border-radius: inherit;
  }
  & figcaption {
    cursor: inherit;
    text-align: center;
    background-color: var(--light);
    border-radius: inherit;
    padding-block: calc(var(--space-base) / 2);
  }
}
.card:active {
  transform: scale(0.98);
}
/* ======================================= */
/* HOVER ================================ */
/* ===================================== */
@media (hover: hover) {
  .card:hover {
    opacity: 0.85;
  }
}
/* ======================================= */
/* RESPONSIVE-MEDIA-QUERIES ============= */
/* ===================================== */
@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
  header {
    flex-direction: column;
    gap: calc(var(--space-base) * 8);
  }
  #root {
    background: linear-gradient(
      to bottom,
      var(--light) 0%,
      var(--dark) 10rem,
      var(--dark) calc(100% - 2rem),
      var(--light) 100%
    );
  }
}

@media (max-width: 360px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1920px) {
  .cards-container {
    grid-template-columns: repeat(8, 1fr);
  }
}

/* ====================================== */
/* ANIMATIONS ========================== */
/* ==================================== */

@keyframes slide-in {
  from {
    opacity: 0;
    transform: scale(80%);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
